$inner-container: $reflex-lg;
$container: $reflex-xlg;

$blue: #0046ad;
$blue_light: #80A2D4;
$teal: #00a5af;
$plum: #B71668;
$yellow: #ffcd00;
$green: #B0D959;

$white: #ffffff;
$light_white: #f3f3f3;
$light_white2: #f9fafb;
$light_white3: #f5f4f3;
$black: #000000;
$light_black: #282828;
$codGray: #181818;
$dark_grey: #646464;
$light_grey: #f5f0eb;
$light_grey2: #CACACA;
$gallery: #eeeeee;
$mineShaft: #313131;
$silver: #cccccc;
$alto: #dfdfdf;
//layout colors

$site_background: $light_white;

//Brand Colors

$primary_color: #f75958;
$heading_color: #24262a;
$text_color: #333;
$footer_color: #a8bbc4;

//Box shadows
$box_shadow: 0 0 15px rgba(30, 30, 30, .15);
$box_shadow1: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
$box_shadow2: 0 50px 100px 0 rgba(3,3,3,.02);
$box_shadow3: 0 30px 70px 0 rgba(223,227,234,.5);
$box_shadow4: -1px 1px 0px 0px rgba(223,223,223,1);


//Images
$menu_icon: url('assets/images/icon_menu.svg');
$close_icon: url('assets/images/icon_menu_x.svg');


//Font
$mainFont: 'Montserrat', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$headerFont: 'Montserrat', sans-serif;
