/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('assets/font/montserrat-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('assets/font/montserrat-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url('assets/font/montserrat-v14-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
       url('assets/font/montserrat-v14-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-300italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('assets/font/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('assets/font/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('assets/font/montserrat-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
       url('assets/font/montserrat-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('assets/font/montserrat-v14-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('assets/font/montserrat-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-500.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('assets/font/montserrat-v14-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
       url('assets/font/montserrat-v14-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-500italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('assets/font/montserrat-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('assets/font/montserrat-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('assets/font/montserrat-v14-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
       url('assets/font/montserrat-v14-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-600italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('assets/font/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('assets/font/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('assets/font/montserrat-v14-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
       url('assets/font/montserrat-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-700italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('assets/font/montserrat-v14-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('assets/font/montserrat-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-800.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('assets/font/montserrat-v14-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
       url('assets/font/montserrat-v14-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-800italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('assets/font/montserrat-v14-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('assets/font/montserrat-v14-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-900.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url('assets/font/montserrat-v14-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
       url('assets/font/montserrat-v14-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/font/montserrat-v14-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/montserrat-v14-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('assets/font/montserrat-v14-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/montserrat-v14-latin-900italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

// heading style
h1,h2,h3,h4,h5,h6{
  font-family: $headerFont;
  font-weight: 600;
}
// Image Style
img{
  max-width:100%;
  vertical-align:middle;
}
// List Style
ul{
  list-style:none;
  margin:0;
  padding:0;
}
// Anchor Style
a{
  text-decoration:none;
  transition:.2s;
}

// Large screens
h1 {
  font-size: 68px;
  color: $black;
  letter-spacing: -1.5px;
  line-height: 70px;
  @include medium {
    font-size: 40px;
    color: $black;
    letter-spacing: -1px;
    line-height: 45px;
  }
  @include small {
    font-size: 32px;
    color: $black;
    line-height: 40px;
  }
  a {
    color: #000;
  }
}

h2 {
  font-size: 25px;
  color: $black;
  line-height: 35px;
  @include small {
    font-size: 15px;
    color: $black;
    line-height: 25px;
  }
  a {
    color: #000;
  }
}

h3 {
  font-size: 18px;
  color: $black;
  letter-spacing: 0;
  line-height: 25px;
  @include small {
    font-size: 14px;
    color: $black;
    letter-spacing: 0;
    line-height: 24px;
  }
  a {
    color: #000;
  }
}

h4 {
  font-size: 16px;
  color: $black;
  line-height: 28px;
  a {
    color: #000;
  }
}

h5 {
  font-size: 14px;
  color: $black;
  line-height: 28px;
  a {
    color: #000;
  }
}

h6 {
  font-weight: 600;
  font-size: 14px;
  color: $black;
  line-height: 28px;
  a {
    color: #000;
  }
}

p {
  font-family: $mainFont;
  font-weight: 400;
  color: $black;
  letter-spacing: 0;
  line-height: 1.75rem;
  font-size:1rem;

  a {
    color: $blue;

    &:hover {
      color: $plum;
    }
  }
}

