.site-header{
	&__nav-container{
        @include medium{
            border-bottom: 3px solid $primary_color;
        }  
        &.mobile-hide{
           @include medium{
            display: none;
            }
        }
    }
    &__logo{
    }
    &__nav-inner {
    }
	&__hamburger-icon{
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url("assets/images/icon_menu.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            position: absolute;
            right: 25px;
            top: -42px;
		&.nav-open{
			background-image: $close_icon;
		}

		@include min-large{
            display: none;
		}
    }
    &__menu{
        @include medium{
            width: 100%;
            position: absolute;
            left: 0;
            top: 55px;
            background-color: #fff;
        }
    }
    &__nav{
        ul{
            display: flex;
            justify-content: flex-end;
            @include medium{
                flex-direction:column;
            }
            li.current{
                a{
                    color:$primary_color;
                }
            }
            li{
                
                a{
                    color: #333;
                    display: block;
                    padding: 10px 15px;
                    transition:.3s;
                    &:hover{
                        color:$primary_color;
                    }
                }
            }
        }
    }
}
