.error-404, .search-no-results{
    margin-top: 100px;
    .page-header{
        text-align:center;
    }
    .page-content{
        text-align:center;
        margin-bottom:60px;
        .search-form {
            width: 300px;
            margin: 0 auto;
            position: relative;
        }
        .search-field{
            -webkit-box-shadow: 0;
            box-shadow: 0;
            margin-bottom: 0;
            font-size: 0.875rem;
            padding-left: 5px;
            height: 42px;
            border: 0px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid $gallery;
            width: 100%;
            -webkit-transition: 0.3s 0.2s ease-out;
            transition: 0.3s 0.2s ease-out;
            position: relative;
        }
        .search-submit{
            position: absolute;
            right: 0;
            top: 0;
            padding: 13px 25px;
            border: 0;
            color: $white;
            font-weight: bold;
            background-color: $primary_color;
            cursor: pointer;
        }
    }
    .page-title {
        color: $text_color;
        font-size: 2.5rem;
        border-bottom: 1px solid $gallery;
        margin-bottom: 0;
        text-transform: capitalize;
        font-weight: 600;
    }
    .widget{
        background: $light_white2;
        margin-bottom: 30px;
        padding: 25px 30px;
        h2{
            line-height: 2.5rem;
            border-bottom: 3px solid $gallery;
            color: $heading_color;
            opacity: 1;
            visibility: visible;
            -webkit-transition: opacity 0.24s ease-in-out;
            transition: opacity 0.24s ease-in-out;
            margin-top: 0;
            text-transform: capitalize;
        }
        ul{
            list-style: none !important;
            padding-left: 0px !important;
            line-height: 2rem;
            li {
                font-size: 1rem;
                line-height: 1.375rem;
                font-weight: 600;
                margin-bottom: 8px;
                a{
                    color:$text_color;
                    &:hover{
                        color:$primary_color;
                    }
                }
            }
        }
        .tag-cloud-link {
            display: inline-block;
            border: 2px solid $gallery;
            color: $text_color;
            font-size: 0.875rem !important;
            padding: 5px 20px;
            margin-right: 5px;
            margin-bottom: 10px;
            &:hover{
                background-color: $primary_color;
                color: $white;
                border-color: $primary_color;
            }
        }
        #archives-dropdown--1 {
            width: 100%;
            border: 1px solid $alto;
            padding: 10px;
        }
        
    }
}

