.archive, .blog, .page-template-page-blog{
    .entry-title{
        font-size: 1.563rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 0;
        margin-top: 15px;
        a{
            &:hover{
                color:$primary_color;
            }
        }
    }
    .entry-meta {
        font-size: 0.875rem;
        line-height: 1.313rem;
        margin-bottom: 18px;
    }
    .entry-meta a {
        color: $alto;
        display:inline-block;
        &:hover{
            color:$primary_color;
        }
    }
    .entry-content .blog__link {
        margin-top: 8px;
    }
}


.author{
    position: relative;
    margin-left: 15px;
    padding-left:5px;
}
.cat-links{
	position: relative;
	padding-left: 5px;
	margin-left: 20px;
}
.author:after, .cat-links:after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: $alto;
    top: 8px;
    left: -10px;
    transform: rotate(45deg);
}