.blog{
    &__left{        
        background-size: cover;
        height: 350px;
        background-position: center;
        position: relative;
    }
    &__left:before{
        position: absolute;
        color: cadetblue;
        content: "";
        background-image: -webkit-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.7) 80%);
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        opacity: .7;
    }
    &__img{}
    &__cat{
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: $white;
        font-size: 0.875rem;
    }
    &__desscription{}
    &__title{}
    &__heading{
        font-size: 1.75rem;
        color: $light_black;
        font-weight: 500;
        line-height: 2.25rem;
    }
    &__meta{
        display: flex;
        align-items: center;
        margin-top: 12px;
    }
    &__meta-list{
        margin-right: 12px;
    }
    &__meta-link{
        color: $light_black;
        line-height: 2.813rem;
        display: inline-block;
    }
    &__meta-img{
        max-width: 40px;
        border-radius: 50%;
        margin-right: 5px;
    }
    &__content{}
    &__link{
        border: 1px solid $primary_color;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 3px;
        color: $light_black;
        text-transform: capitalize;
        &:hover{
            background-color: $primary_color;
            color: $white;
        }
    }
}
.blog-container{
    margin-top: 70px;
    margin-bottom:70px;
}

// Pagination

.mend-post-pagination {	
	border: 1px solid $light_white2;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 0 30px rgba(0,0,0,.05);
    background: $white;
    display: inline-block;
    ul{
        list-style:none !important;
        padding-left:0 !important;
        li{
            display: inline-block;
            &:last-child a{
                border-right:0;
            }
            a{
                padding:2px 20px 0 21px;
                border-right:1px solid $alto;
                color: $light_black;
             }
        }
    }
}
.mend-post-pagination ul li.active a{
    color:$primary_color
}
