.mend-breadcumbs {
    text-align: center;
    background-color: $primary_color;
    padding: 140px 0 70px;
    @include small{
        padding:30px 0;
    }
    &__inner{
        margin:0 auto;
        max-width: 900px;
    }
    .page-title {
        color: $white;
        margin:15px 0;
        font-size: 3rem;
        line-height: 3.438rem;
        @include small{
            font-size: 1.563rem;
            line-height: 1.875rem;
        } 
    }
    #breadcrumbs {
        font-size:0.875rem;
        line-height:1.375rem;
        color: $white;
        a{
            color: $white;
            margin-right: 5px;
        }
    }
    .breadcrumb_last {
        margin-left: 5px;
    }

}
  