.customize-support .top {
	top: 32px;
}
.content-middle-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section-heading{
    text-align: center;
    margin-bottom: 60px;
    &__title{
	margin:0;
	text-transform:capitalize;
	font-size:2.813rem;
	line-height:3.125rem;
	color:$black;
		@include small{
			font-size:  2.5rem;
			line-height: 3.125rem;
		}
		@include x-small{
			font-size:1.875rem;
			line-height:2.375rem;
		}
  	}
	@include x-small{
		margin-bottom: 30px;
	}
}
.section-heading-alt{
    text-align: center;
    margin-bottom: 60px;
    &__title{
	margin:0;
	text-transform:capitalize;
	font-size:2.813rem;
	line-height:3.125rem;
  }
}
.color-white .section-heading-alt__title, .color-white .section-heading-alt__des{
    color:$white;
}
.no-padding {
  padding: 0;
  border-right: 1px solid #eaeaea;
  background-color: #f4f5f6;
  &:last-child{
    border-right:0;
  }
}
@include medium{
	.ewa-hidden-xs-2-md{
		display:none;
	}
}
.mt {
	margin-top: 30px;
	justify-content: center;
} 
a:focus{
	outline: none !important;
}
.post-container, .page-container, .archive-container, .search-container{
	margin-top:70px;
	margin-bottom:70px;
}


// WordPress/Theme specific

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}
.mb-25{
    margin-bottom:30px !important;
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
	background-color: #f9fafb;
  	padding: 20px;
    margin-bottom: 35px;
}

.sticky .mb-25 {
	margin-bottom: 0 !important;
}

.post,
.page {
	
}

.article .entry-content a, 
.comments-area a, 
.page-links a,
.wp-block-latest-posts li a,
.wp-block-file a,
.wp-block-archives li a {
	color: $primary_color;
}

.article .entry-content a:hover, 
.comments-area a:hover,
.page-links a:hover,
.wp-block-latest-posts li a:hover,
.wp-block-file a:hover,
.wp-block-archives li a:hover {
	color: $text_color;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	
}

.page-links {
	clear: both;

}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*Post Password Protected*/
.post-password-form input[type=password]
{
    padding: 7px 10px;
    border: 1px solid #cbcbcb;
}
.post-password-form input[type=submit]
{
    padding: 8px 40px;
    text-align: center;
    background-color: $primary_color;
    color: #ffffff;
    border: 0;
    transition: all 0.2s ease-in-out 0s;
}
.post-password-form input[type=submit]:hover
{
    background-color: #28292a;
}

/* Word Spaces for Common Page Title */

#primary, 
#secondary, 
.site-header, 
.site-footer,
.mend-breadcumbs {
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.comment-content a {
    word-wrap: break-word;
}

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older/Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/* Media*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}