.wp-block-image, .wp-block-embed {
	margin: 0;
}
.wp-block-quote, blockquote {
	border-left: 5px solid $alto;
	margin-left: 0;
	padding-left: 25px;
}
.wp-block-separator {
	border: 1px solid $alto;
	margin: 20px 0;
}
#primary ul {
	list-style: disc;
	padding-left: 20px;
}
.blocks-gallery-grid, .wp-block-gallery {
	padding-left: 0 !important;
}

.wp-block-pullquote p {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-style: italic;
}
.wp-block-quote p {
	font-style: italic;
}

.blocks-gallery-grid .blocks-gallery-image figcaption, 
.blocks-gallery-grid .blocks-gallery-item figcaption, 
.wp-block-gallery .blocks-gallery-image figcaption, 
.wp-block-gallery .blocks-gallery-item figcaption {
	box-sizing: border-box;
}