.site-header {
    background-color:$white;
    z-index:3;
    padding: 10px 0px;
    box-shadow:0px 0px 62px 0px rgba(0, 0, 0, 0.05);
    transition:.3s;
    position:fixed;
    left:0;
    right:0;
    top:0;
    &.sticky{
        padding:0;
    }
    &__display{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include small{
            align-items: flex-start;
        }
    }
}