// Colors
.white {
	color: $white;
}

.color-bg {
	background: #f5f0eb;
	position: relative;
	padding: 50px 0;
	&__blue {
		background: $blue;
		position: relative;
	}
	&__teal {
		background: #1caeb7;
		position: relative;
	}
	&__white {
		background: $white;
		position: relative;
	}
}

// Buttons
a.button {
	padding: 10px 30px;
	text-decoration: none;
	display: inline-block;
	border: 1px solid $blue;
	color: $white;
	background: $blue;
}
