.search-page{
    .page-title{
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.5rem;
        margin-top: 0;
        margin-bottom: 18px;
        color: $text_color;
        border-bottom: 1px solid $alto;
        padding-bottom: 15px;
        text-transform: capitalize;
    }
    .entry-title {
        font-size: 1.563rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 0;
        margin-top: 15px;
        a{
            &:hover{
                color:$primary_color;
            }
        }
    }
    .entry-meta a {
        color: $alto;
    }
}
.search-container{
    margin-top:70px;
    margin-bottom:70px;
}