#secondary {
    .widget{
        background: $light_white2;
        margin-bottom: 30px;
        padding: 25px 30px;
        @include medium{
            padding:10px 20px;
        }
    }	
    h2.widgettitle, h3.widget-title{
        color: $light_black;
        font-size: 1.375rem;
        padding-bottom: 6px;
        margin-top: 0px;
        margin-bottom: 12px;
        position: relative;
    }
    .widget-title {
        line-height: 2.5rem;
        border-bottom: 3px solid $alto;
        color: $light_black;
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.24s ease-in-out;
        -moz-transition: opacity 0.24s ease-in-out;
        transition: opacity 0.24s ease-in-out;
        margin-top:0;
        text-transform:capitalize;
        @include medium{
            font-size:1.125rem;
            line-height:1.75rem;
        }
    }
    .widget ul {
        list-style: none;
        padding-left: 0px;
        line-height: 2rem;
    }
    .widget ul li {
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: 600;
        margin-bottom: 8px;
        @include medium{
            font-size:0.875rem;
        }
    }
    .widget ul li a {
		color: $text_color;
		&:hover{
			color: $primary_color;
		}
	}
	/* Search Widget */
	.search-form {
        position: relative;
    }
    .search-field {
        box-shadow: 0;
        margin-bottom: 0;
        font-size: 0.875rem;
        padding-left: 5px;
        height: 42px;
        border: 0px;
        box-shadow: none;
        border-bottom: 1px solid $alto;
        width: 100%;
        -webkit-transition: 0.3s 0.2s ease-out;
        -moz-transition: 0.3s 0.2s ease-out;
        -o-transition: 0.3s 0.2s ease-out;
        transition: 0.3s 0.2s ease-out;
	}
	.search-submit {
        position: absolute;
        right: 0;
        top: 0;
        padding: 11px 25px;
        border: 2px solid transparent;
        color: $white;
        font-weight:bold;
        background-color:$primary_color;
        transition: .3s;
        cursor:pointer;
        &:hover{
            background-color: transparent;
            color: $primary_color !important;
            border-color: $primary_color !important;
        }
        @include medium{
            padding:13px 15px;
        }
	}
	/* Comment Widget */
    .comment-author-link {
        font-size: 1rem;
	}  
	/* Tag Widget */
    .tag-cloud-link {
        display: inline-block;
        border: 2px solid $alto;
        color: $text_color;
        font-size: 0.875rem !important;
        padding: 5px 20px;
        margin-right: 5px;
        margin-bottom: 10px;
        @include medium{
            padding: 5px 10px;
            margin-right: 3px;
            margin-bottom: 5px;
		}
		&:hover{
			background-color: $primary_color;
			color: $white;
			border-color: $primary_color;
		}
    }
}