.single{
    .entry-title {
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 3.125rem;
        margin-top: 0;
        margin-bottom: 18px;
        color: $text_color;
    } 
    .entry-meta {
        font-size: 0.875rem;
        line-height: 1.313rem;
        margin-bottom: 24px;
    }
    .entry-meta a {
        color: #777;
        display:inline-block;
        &:hover{
            color:$primary_color;
        }
    }
}

/* Comments Section Css */


.fn {
	font-size: 0.875rem;
}
.comment-metadata {
	margin-left: 55px;
	margin-top: -10px;
}
.comment-metadata a {
	color: #777;
	font-style: italic;
	font-size: 0.875rem;
	font-weight: 400;
}
.comment-content{
    margin-left: 55px;
}
.reply {
	margin-left: 55px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.reply a {
    font-size: 0.875rem;
    color:$primary_color;
}
.comment-list {
	padding-left: 0;
}
.comments-title {
	padding-bottom: 9px;
	margin: 40px 0 20px 0;
	border-bottom: 1px solid #eee;
}
.comment-author img {
	border-radius: 50%;
	border: 1px solid #ddd;
	padding: 3px;
	margin-right: 12px;
}
#commentform input, #commentform textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    color: #555;
  }
  #wp-comment-cookies-consent {
	width: auto !important;
	margin-right: 7px;
	margin-left: 0;
}
.form-submit input {
	background-color: $primary_color;
	font-size: 1rem;
	color: $white !important;
	font-weight: 500 !important;
	cursor: pointer;
	width: 180px !important;
	border: 2px solid transparent !important;
	border-radius: 40px;
    padding: 13px 10px !important;
    transition: .3s;
}
.form-submit input:hover {
	background-color: transparent;
	color: $primary_color !important;
	border-color: $primary_color !important;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.nav-links div {
    width: 50%;
}
.nav-links div.nav-next {
    text-align: right;
}
.nav-links div a {
    color: $text_color;
}
.nav-links div a:hover {
  color: $primary_color;
}
.logged-in-as a {
    color: $text_color;
}
.post-thumbnail {
	margin-bottom: 20px;
}