/* Footer Css Start Here */
#site-footer {
  background-color: #333;
  margin-top:20px;
} 
.copyright {
    color: white;
    margin: 0;
    text-transform: capitalize;
    padding: 10px 0;
    @include x-small{
      text-align: center;
    }

    a{
      color: $white;
      text-decoration: underline;

      &:hover{
        color: $primary_color;
      }
    }
  }
  
.footer-icon {
  text-align: right;
  @include x-small{
    text-align: center;
    margin-top: -25px;
  }
  a{
    display: inline-block;
    color: #fff;
    margin-left: 20px;
    transition: .3s;
    &:hover{
      color:$primary_color;
    }
    @include x-small{
      margin-left: 0;
      margin: 0 10px;
    }
  }
}
/* Footer Css End Here */

/* Scroll To Top Css Start Here */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:$primary_color;
  width: 50px;
  height: 50px;
  line-height:3.125rem;
  text-align:center;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99;
}
#return-to-top span {
  color: $white;
  margin: 0;
  font-size: 1.563rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Scroll To Top Css End Here */